@import "tailwindcss";

@theme {
  --font-nunito: "Nunito", sans-serif;
  --font-ubuntu: "Ubuntu", sans-serif;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /* user-drag: none; */
}

::-webkit-scrollbar {
  width: 8px; /* Thin scrollbar */
}

::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 31);
}

::-webkit-scrollbar-thumb {
  background-color: #313133;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

ul li {
  cursor: pointer;
}

.name-letter,
.name {
  text-shadow: 0 0 60px #00e5ff;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(100px);
  }
}

svg #wheel {
  animation: scroll ease 1.5s infinite;
}

.resume-anchor {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}

.mobile-menu ul .resume-anchor {
  margin: 0;
}

.resume-btn, .contact-btn {
  /* min-width: 120px;
    min-height: 40px; */
  color: rgb(0, 0, 0);
  display: inline-flex;
  font-family: "Nunito", sans-serif;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 1.3px;
  font-size: 14px;
  background: #9acbd0;
  background: linear-gradient(120deg, #9acbd0 0%, #00e5ff 100%);
  border: none;
  border-radius: 1000px;
  box-shadow: 0 0 40px #009cad;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 12px 40px;
}

.resume-btn::before, .contact-btn::before {
  content: "";
  border-radius: 1000px;
  /* min-width: calc(300px + 12px);
    min-height: calc(60px + 12px); */
  padding: 28px 100px;
  border: 2px solid #00e5ff;
  box-shadow: 0 0 60px #00c0d5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.resume-btn:hover,
.resume-btn:focus, .contact-btn:hover, .contact-btn:focus {
  color: #313133;
  transform: translateY(6px);
}

.resume-btn:hover::before,
.resume-btn:focus::before, .contact-btn:hover::before, .contact-btn:focus::before {
  opacity: 1;
}

.resume-btn::after, .contact-btn::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #55eeff;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

.resume-btn:hover::after,
.resume-btn:focus::after, .contact-btn:hover::after, .contact-btn:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  100% {
    width: 160px;
    height: 160px;
    opacity: 0;
  }
}

.testimonials-wrapper-1,
.testimonials-wrapper-2 {
  border-radius: 0 0 16px 16px;
}

/* .notification {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(0, 158, 0);
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #333;
  display: none;
  z-index: 50;
}

.notification-message {
  font-size: 16px;
  font-weight: bold;
}

.notification-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
  cursor: pointer;
} */